PORT=3000
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=emprendex
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
DATABASE_PUBLIC_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
DATABASE_SSL=false
JWT_SECRET=replace-this-with-a-long-random-secret
JWT_EXPIRES_IN=86400
CORS_ORIGINS=http://localhost:8081,http://localhost:19006
APP_PUBLIC_URL=http://localhost:${PORT}
